.page-transition {
  opacity: 0;
  transition: opacity 300ms ease;
}

.page-transition.page-show {
  opacity: 1;
}

html, body {
  height: 100%;
  overflow-y: hidden;
}

#app {
  min-height: 100vh;
  overflow-y: auto;
}
