.game-frame {
  position: relative;
  padding: 16px;
  border-radius: 12px;

  background: rgba(10, 10, 10, 0.45);
  backdrop-filter: blur(6px);

  border: 2px solid rgba(255, 44, 251, 0.25);

  box-shadow:
    0 0 10px rgba(255, 44, 251, 0.18),
    0 0 24px rgba(255, 44, 251, 0.10),
    inset 0 0 12px rgba(255, 44, 251, 0.12);

  margin: 60px auto 0 auto;
  width: fit-content;
}

/* exit btn*/

.game-exit-btn {
  position: absolute;
  top: -60px;
  right: 0;

  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;

  color: #ff6bff;
  background: rgba(10,10,10,0.6);
  border: 2px solid #ff2cfb;
  border-radius: 6px;

  backdrop-filter: blur(5px);
  cursor: pointer;

  transition:
    background-color 0.25s ease,
    box-shadow 0.25s ease,
    transform 0.12s ease;
}

.game-exit-btn:hover {
  background-color: rgba(255,44,251,0.15);
  box-shadow:
    0 0 14px #ff6bff,
    0 0 22px #ff2cfb66;
}

.game-exit-btn:active {
  transform: scale(0.97);
}
